
  <form class="form-login-register" ngNativeValidate #loginForm=ngForm (ngSubmit)="onSubmit()">
    <img id="logo" src="assets/img/logo.png" class="rounded-circle border-3">
    <h1 class="h3 mb-3 font-weight-normal">Chat</h1>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <input type="text" name="username" id="username" class="form-control" placeholder="Login" pattern=".*\S+.*"
               [(ngModel)]="form.username" required autofocus>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-unlock"></i>
          </div>
        </div>
        <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" pattern=".*\S+.*"
               [(ngModel)]="form.password" required>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login" name="login"
            [disabled]="!loginForm.valid">Logowanie</button>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="register" name="register"
            (click)="redirectToRegister()">Rejestracja</button>
  </form>

<ngx-smart-modal customClass="modal-content" #loginErrorModal identifier="loginErrorModal" [closable]="false">
  <div class="modal-header">
    <h5 class="modal-title">Błąd</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loginErrorModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="loginErrorModal.hasData()">
    <p>{{ loginErrorModal.getData() }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="loginErrorModal.close()">Ok</button>
  </div>
</ngx-smart-modal>
