#user {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 165px;
}

.user-description {
  font-weight: 600;
  display: flex;
  justify-content: center;
  width: 100%;
}

.border-3 {
  border: 3px solid white;
}

@media only screen  and (max-width : 767px) {
  #user {
    display: none;
  }
}
