<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">
      Register Here
    </div>
    <div class="card-body">
      <form #registerForm=ngForm (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="inputLogin" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="inputLogin" placeholder="Username"
                   [(ngModel)]="form.username" required>
          </div>
          <div class="alert alert-danger" [hidden]="!error.username">
            {{ error.username }}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"
                   [(ngModel)]="form.email" required>
          </div>
          <div class="alert alert-danger" [hidden]="!error.email">
            {{ error.email }}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name"
                   [(ngModel)]="form.name" required>
          </div>
          <div class="alert alert-danger" [hidden]="!error.name">
            {{ error.name }}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
          <div class="col-sm-10">
            <input type="text" name="surname" class="form-control" id="inputSurname" placeholder="Surname"
                   [(ngModel)]="form.surname" required>
          </div>
          <div class="alert alert-danger" [hidden]="!error.surname">
            {{ error.surname }}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"
                   [(ngModel)]="form.password" required>
          </div>
          <div class="alert alert-danger" [hidden]="!error.password">
            {{ error.password }}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="password_confirmation" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password"
                   [(ngModel)]="form.password_confirmation" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
            <a routerLink="/login" type="button" class="btn btn-info float-right">Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
