$fa-font-path: "node_modules/font-awesome/fonts";
@import '../../../../../node_modules/font-awesome/scss/font-awesome';

html, body {
  min-height: 100%;
  height: 100%;
}

.container-fluid {
  color: white;
  background-color: white;
  width: 80%;
  height: 90%;
}

#users {
  background-color: #303030;
  height: 100%;
}

#users-content {
  height: calc(100% - 65px);
}

#users-content img {
  cursor: pointer;
}

#content {
  height: 100%;
}

#messages {
  background-color: #dddddd;
  height: 100%;
  position: relative;
}

.line {
  background-color: white;
  width: 100%;
  height: 2px;
  float: left;
}

.user-avatar img {
  width:65px;
  height:auto;
}

#search {
  padding-left: 10px;
}

.user-name {
  width: calc(100% - 65px);
  padding-left: 5%;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
}

.contact {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 75px;
}

.user-avatar {
  width: 65px;
  float: left;
  display: inline-block;
  position: relative;
}

.border-2 {
  border:2px solid grey;
}

.border-3 {
  border: 3px solid white;
}

@media only screen  and (max-width : 767px) {
  .container-fluid {
    background-color: white;
    width: 100%;
    height: 100%;
  }

  #messages {
    display: none;
  }

  #user {
    display: none;
  }
}
