<div id="my-users">
    <div *ngIf="this.contacts">
        <div class="user" *ngFor="let user of this.contacts" (click)= "getMessages(this.user.id)">
            <div class="user-avatar">
                <img [src]="user.avatar" class="rounded-circle border-3">
                <div class="status {{ user.active == 1? 'online' : 'offline' }}">
                </div>
            </div>
            <div  class="user-name">
                <div class="user-description1">
                    <span>{{ user.name  }} {{ user.surname }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
